.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.location {
  margin-top: 20px;
}

.textbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.textbox-container input,
.textbox-container button {
  margin-top: 10px;
}

.go-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.name {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 80px;
}

.company-name {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
}

.slogan {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: italic;
  font-size: 25px;
  margin-left: 300px;
}

.name-container {
    display: flex;
    align-items: baseline;
}

